* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    list-style: none;
}

h1 {
    font-size: 2.5rem;
    font-family: "Baloo 2", sans-serif;
    /* line-height: 64px; */
    color:#fdfbfb;
    text-transform:uppercase;
    /* padding-bottom: 0.5rem; */
    
}

h2 {
    font-size: 40px;
    
    color:#fdfbfb;
    
}

h4 {
    font-size: 1.5rem;
    font-family: "Baloo 2", sans-serif;
    font-weight: 400;
        color:#fdfbfb;
        
    
}

h6 {
    font-weight: 700;
    font-size: 12px;
}


/* ====================================================== */

.logo {
    width: 150px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    background-color: #E3E6F3;
    margin: 0 10%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.navlist {
    display: flex;
    gap: 1.5rem;
    
}

.navlist li {
    position: relative;
}

.navlist li a {
    font-size: 1rem;
    font-weight: 900;
    color: #d61156;
    text-transform:capitalize;
    transition: 0.3s ease;
}

.navlist li a:hover, .navlist li a.active {
    color: #26b9d1;
    /* padding-bottom: 0.5rem;
    border-bottom: 3px solid #b4cb31; */
    }

    .navlist li a.active::after,
    .navlist li a:hover::after {
        position: absolute;
        content: "";
        width: 30%;
        height: 2px;
        background-color: #b4cb31;
        bottom: -4px;
        left: 01px;

    }

    /* =============Main=========================== */

    main {
       /* margin-top: 2.5rem; */
    }

    #hero {
        /* padding-top: 2rem; */
        background-image: url(./images/hero-bg4.jpg);
        background-size:cover;
        /* background-position: center; */
        /* height: 100%; */
        
        
        
    }

    .heading {
        /* margin-left: 10%; */
        width: 50%;
        padding-top: 2rem;
        text-align: center;
    }

    #hero :nth-child(4) {
        color:rgba(253, 251, 251, 0.5);
        font-size:1rem;
        /* font-weight: 700; */
        font-family: "Baloo 2", sans-serif;
        
    }

    .logo-arb {
        width: 300px;
        
       
    }
    .buttons {
        margin-top: 2rem;
        padding-bottom: 2rem;
    }

    .shop, .reg {
        background-color: #b4cb31;
        margin: 0 0.25rem 0 0.25rem;
        padding: 0.25rem 1rem 0.25rem 1rem;
        color:#d61156;
        font-family: "Baloo 2", sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        width: 150px;
        border: 2px solid #d61156;
        border-radius: 10px;
        cursor: pointer;
        

    }
