.logo {
    width: 150px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1.2rem 7%;
    box-shadow: 0px 5px 5px #d61156;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .navlist {
    display: flex;
    gap: 1.5rem;
  }
  
  .navlist li {
    position: relative;
  }
  
  .navlist li a {
    font-size: 1rem;
    font-weight: 800;
    color: #d61156;
    text-transform: capitalize;
    transition: 0.3s ease;
  }
  
  .navlist li a:hover,
  .navlist li a.active {
    color: #26b9d1;
  }
  
  .navlist li a.active::after,
  .navlist li a:hover::after {
    position: absolute;
    content: "";
    width: 30%;
    height: 2px;
    background-color: #b4cb31;
    bottom: -4px;
    left: 01px;
  }