main {
    margin-top: 4.8rem;
  }

  .banner {
    width: 100%;
    height:220px;
    background-image: radial-gradient(#486b1f, #0f1706);
    /* background-image: url(./images/pencil-page12.jpg); */
    /* background-size: cover; */
    /* background-position: center; */
    /* padding: 4rem 7% 0 7%;
     */
     box-shadow: 0px 5px 5px #486b1f;
     display: flex;
    justify-content: center;
    align-items: center;
     
  }
  
  /* .banner img {
    margin: auto 0;
  } */
  
  
  /* .banner {
    text-align: center;
    
    
  } */

  .pencil-box-container {
    display: grid;
    margin: 2rem 7%;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    gap: 1rem;
  }
  
  
  
 
  
  
  .pencil-box {
    padding: 1rem 0;
    border: 1px solid #26b9d1;
    border-radius: 16px;
    width: 100%;
    text-align: center;
  }

  .pencil-box:hover {
    box-shadow: 0 0 30px rgba(13, 81, 112, 0.8);
  }
  
  .pencil-img {
    width: 100%;
    /* object-fit: contain; */
  }

  .new-p-link {
    display: inline-block;
    color: #1a7c8d;
    font-weight: 800;
    margin: 1rem 0;
    text-transform: capitalize;
  }
  
  .new-p-link:hover {
    text-decoration: underline;
  }
  
  .star i {
    color: rgb(243, 181, 25);
  }
  
  .price-cart {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .pro-cart {
    color: #1a7c8d;
    font-size: 1.2rem;
  }
  




  /* ==============tablet============== */
@media (max-width: 799px){

  .banner img {
    
      width: 90%;
    
    
    
  }

  .pencil-box-container {
      margin-top: 0.5rem;
      grid-template-columns: repeat(4, 1fr);
     
    }
  
  }
  
  /* ==============mobile============== */
  @media (max-width: 377px){
  
    .banner img{
      width: 90%;
      text-align: center;
    }
  
    .pencil-box-container {
      margin-top: 0.5rem;
      grid-template-columns: repeat(2, 1fr);
     gap: 0.5rem;
    }
  
  }